.banner {
  border-radius: 10px;
  height: 111px;
  margin-bottom: 35px;
  position: relative;
  @media screen and (min-width: $breakpoint-desktop) {
    border-radius: 25px;
    height: 223px;
  }

  &__img {
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    width: 100%;
    filter: brightness(0.5);
  }
  // &__sombre {
  //   background-color: $background-color;
  //   width: 100%;
  //   height: 100%;
  //   border-radius: 25px;
  //   left: 0;
  //   opacity: 0.3;
  //   position: absolute;
  //   top: 0;
  // }
  &__txtA {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    // right: 32.53%;
    // bottom: 80.05%;
    // font-style: Medium;
    font-size: 24px;
    font-weight: 500;
    // line-height: 100%;
    color: $tertiary-color;
    white-space: nowrap;
    // width: 217px;
    // height: 48px;
    @media screen and (min-width: $breakpoint-desktop) {
      // top: 0;
      font-size: 48px;
      // left: 0;
      // right: 0;
      // @include flex-center;
      // @include WH-full;
      // @include font(48px, 500);
    }
  }
}
